.widget-container {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.04);
  border: 1px solid #ededed;
}
.widget-title {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-bottom: 2px solid #ededed;
  /* background-color: #ededed; */
}
.widget-title > div:nth-child(1) {
  display: flex;
  justify-content: center;
  width: calc(100% - 50px);
}
.widget-title > div:nth-child(2) {
  width: 50px;
  text-align: right;
}
.widget-content {
  position: relative;
  padding: 5px;
  height: calc(100% - 60px);
  width: 100%;
  overflow: auto;
}
/* .widget-children-selector-container {
  padding: 10px;
} */
