.dengue-death-case-marker {
  border-radius: 50%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #ff4747;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-size: 12px;
}
