.leaflet-container {
  height: 100%;
  width: 100%;
}
.label-layer-container,
.legend-layer-container {
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
}
.legend-title {
  width: 100%;
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
  font-weight: 15px;
}
.legend-layer-container {
  padding: 5px;
  margin: 0;
  width: 33px;
  height: 33px;
  position: absolute;
  left: 10px;
  top: 80px;
  z-index: 9999;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: all 0.15s ease-out; */
  flex-direction: column;
  font-size: 14px;
}
.legend-layer-container svg {
  font-size: 18px !important;
  color: #2c6693;
}
.legend-item {
  width: 100%;
  display: flex;
  /* margin-bottom: 5px; */
}
.legend-item > div:nth-child(1) {
  width: 25%;
}
.legend-item > div:nth-child(2) {
  padding-left: 10px;
  width: 75%;
}
.timeline-label-layer-container {
  bottom: 0;
  position: absolute;
  margin-bottom: 52px;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline-label-layer-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 2px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
}

.timeline-layer-container {
  bottom: 0;
  position: absolute;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.timeline-layer-container > div:nth-child(1) {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
  width: 70px;
}
.timeline-layer-container > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.1);
  width: calc(100% - 100px);
}
.timeline-item-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 18px;
}
.timeline-selected {
  background-color: #2b675c;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font-family: "Times New Roman", Times, serif !important ;
  font-weight: bold !important;
}
