.control-bar-container {
  padding: 10px;
  height: 60px;
  /* background-color: #2b675c; */
  display: flex;
  align-items: center;
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.11);
  /* -webkit-box-shadow: 1px 7px 5px -1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 7px 5px -1px rgba(0, 0, 0, 0.11); */
}
.control-bar-container > div:nth-child(2) {
  margin-left: 10px;
  z-index: 1000;
  align-self: flex-start;
}
.control-bar-container > div:nth-child(3) {
  margin-left: auto;
}

.control-bar-container > div:first-child {
  display: flex;
  gap: 20px;
  align-items: center;
}

.control-bar-container > div:first-child > button {
  display: none;
}

@media (max-width: 900px) {
  .control-bar-container > div:not(:first-child) {
    display: none;
  }
  .control-bar-container > div.visible-in-mobile {
    display: block;
  }

  .control-bar-container > div:first-child {
    flex: 1;
  }
  .control-bar-container > div:first-child > button {
    display: block;
  }
}
