.aggregate-summary {
  margin: 0;
  border: 1px solid #e0e0e0;
}

.aggregate-summary th {
  white-space: nowrap;
  padding: 3px 6px;
  text-align: center;
  color: #555e86;
}

.aggregate-summary td {
  color: #555e86;
}

.aggregate-summary tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.aggregate-summary tr:hover td {
  background-color: #ebedf7;
}

.aggregate-summary tr td,
.aggregate-summary tr th {
  border-right: 1px solid #e0e0e0;
}

.aggregate-summary tr td:last-child,
.aggregate-summary tr th:last-child {
  border-right: 0;
}

.aggregate-summary th span svg {
  font-weight: bold;
}

.aggregate-summary td {
  padding: 6px;
  font-size: 14;
  text-align: center;
}

.aggregate-summary td:nth-child(1),
.aggregate-summary th:nth-child(1) {
  text-align: left;
}

/* Track */
.aggregate-summary::-webkit-scrollbar-track {
  background-color: #fefefe;
  box-shadow: 0;
}

/* Handle */
.aggregate-summary::-webkit-scrollbar-thumb {
  background: rgba(168, 172, 176, 1);
}

/* Handle on hover */
.aggregate-summary::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 172, 176, 0.8);
}
